.heading{  
    font-family: 'Roboto';
    font-style: normal;
    margin-left: 4vw;
    color: #878787;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 1rem;
  }
  
  .listcontainer {
    display: flex;
    overflow: hidden;
    margin-left: 2vw;
  }
  
  .listitem {
    width: 20vw;
    margin-left: 2vw;
    margin-right: 30px;
    /* gap:20px */
  }
  
  .listitem img {
    object-fit: cover;
    width: 18vw;
    height: 20vh;
    border-radius: 12px;
  }
  
  body{
    margin: 0;
    padding: 0;
  }