/* Default styles for timer */
.timer-container {
    width: 63vw;
    height: 28vh;
    background: #1E2343;
    position: absolute;
    border-radius: 12px;
    margin-top: 15px;
    margin-left: 50px;
    display: flex;
    gap: 20px;
    box-sizing: border-box;
    padding: 12px;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .section {
    text-align: center;
    padding: 6px;
  }
  
  .timer-container img {
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  
  .timer-button {
    background: #FF6A6A;
    border-radius: 12px;
    color: white;
    text-align: center;
    cursor: pointer;
    border: none;
    width: 270px;
    padding: 5px;
  }
  
  .display {
    color: white;
    display: flex;
    font-size: 13px;
    justify-content: space-evenly;
  }
  
